<a href="https://colab.research.google.com/github/amritanshu19/Data-Visualization/blob/main/Practical_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np
import math
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.DataFrame(pd.read_excel("data_5.xlsx"))

In [3]:
df.head()

,Leader-follower vehicle pair,VehicleID,Time,Position,Speed,Acceleration
0,1,Bike_1,35.733333,50.192392,13.815458,0.227008
1,1,Bike_2,35.733333,61.456807,14.199668,-0.361772
2,1,Bike_1,35.766667,49.689652,13.804018,0.223941
3,1,Bike_2,35.766667,60.983469,14.201858,-0.264244
4,1,Bike_1,35.800000,49.205511,13.790835,0.220522

In [7]:
an1=[]
diffv=[]
diffx=[]
vn1=[]
for ind in df.index:
  if ind%2==0:
    a = 1
  else:
    an1.append(df['Acceleration'][ind])
    vn1.append(df['Speed'][ind])
    diffx.append(df['Position'][ind-1]-df['Position'][ind])
    diffv.append(df['Speed'][ind-1]-df['Speed'][ind])

In [8]:
l = {'vn1':vn1, 'an1':an1, 'diffv':diffv,  'diffx':diffx}

In [9]:
df2 = pd.DataFrame(l, columns=['vn1', 'an1', 'diffv', 'diffx'])

In [10]:
df2.head()

         vn1       an1     diffv      diffx
0  14.199668 -0.361772 -0.384210 -11.264415
1  14.201858 -0.264244 -0.397840 -11.293817
2  14.200112 -0.180011 -0.409277 -11.304576
3  14.194602 -0.108016 -0.418527 -11.301093
4  14.185502 -0.047178 -0.425599 -11.287752

In [11]:
df2.to_csv('prepared.csv')

In [12]:
def gm_model(vn1, diffv, diffx, alpha, l, m):
  return (alpha*(vn1**m)/(diffx)**l)*(diffv)

In [20]:
df3 = pd.DataFrame.abs(df2)
df3.head()

         vn1       an1     diffv      diffx
0  14.199668  0.361772  0.384210  11.264415
1  14.201858  0.264244  0.397840  11.293817
2  14.200112  0.180011  0.409277  11.304576
3  14.194602  0.108016  0.418527  11.301093
4  14.185502  0.047178  0.425599  11.287752

In [22]:
df3['logarithm_vn1'] = np.log2(df3['vn1'])
df3['logarithm_an1'] = np.log2(df3['an1'])
df3['logarithm_diffv'] = np.log2(df3['diffv'])
df3['logarithm_diffx'] = np.log2(df3['diffx'])

In [23]:
df3.head()

,vn1,an1,diffv,diffx,logarithm_vn1,logarithm_an1,logarithm_diffv,logarithm_diffx
0,14.199668,0.361772,0.384210,11.264415,3.827785,-1.466847,-1.380032,3.493701
1,14.201858,0.264244,0.397840,11.293817,3.828008,-1.920058,-1.329739,3.497461
2,14.200112,0.180011,0.409277,11.304576,3.827830,-2.473839,-1.288850,3.498835
3,14.194602,0.108016,0.418527,11.301093,3.827271,-3.210687,-1.256608,3.498390
4,14.185502,0.047178,0.425599,11.287752,3.826345,-4.405733,-1.232432,3.496686

In [32]:
data = df3.iloc[:, lambda df3: [4, 5,6,7]]

In [33]:
data.head()

   logarithm_vn1  logarithm_an1  logarithm_diffv  logarithm_diffx
0       3.827785      -1.466847        -1.380032         3.493701
1       3.828008      -1.920058        -1.329739         3.497461
2       3.827830      -2.473839        -1.288850         3.498835
3       3.827271      -3.210687        -1.256608         3.498390
4       3.826345      -4.405733        -1.232432         3.496686

In [37]:
for ind in data.index:
  data['logarithm_an1'][ind]=data['logarithm_an1'][ind]-data['logarithm_diffv'][ind]

<ipython-input-37-6736d70132d5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['logarithm_an1'][ind]=data['logarithm_an1'][ind]-data['logarithm_diffv'][ind]

In [38]:
data['dummy_a']=1

<ipython-input-38-9305be06d7c7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['dummy_a']=1

In [39]:
data.head()

   logarithm_vn1  logarithm_an1  logarithm_diffv  logarithm_diffx  dummy_a
0       3.827785       1.293216        -1.380032         3.493701        1
1       3.828008      -0.590319        -1.329739         3.497461        1
2       3.827830      -1.184990        -1.288850         3.498835        1
3       3.827271      -1.954079        -1.256608         3.498390        1
4       3.826345      -3.173300        -1.232432         3.496686        1

In [42]:
X = data.iloc[:, lambda data: [0,3]].values
y = data.iloc[:, 1].values

In [43]:
model = LinearRegression()
model.fit(X, y)

# Print the model coefficients
print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)

Intercept: -0.9149317053432506
Coefficients: [-0.29810103 -0.48228447]

In [48]:
m = model.coef_[0]
L = abs(model.coef_[1])
alpha = 2**model.intercept_
k = [m,L,alpha]
print(k)

[-0.29810102838895974, 0.48228446755132, 0.53036897682843]

In [50]:
velocity = [24.27, 19.22,  18.28]
x_pos = [ 37.66, 61.47, 75.25]
acceleration = [0.193,  0.146,  0.135]
list1 = {'velocity':velocity,'x_pos':x_pos,'acceleration':acceleration }
df4 = pd.DataFrame(list1, columns=['velocity', 'x_pos', 'acceleration'])

In [51]:
df4.head()

   velocity  x_pos  acceleration
0     24.27  37.66         0.193
1     19.22  61.47         0.146
2     18.28  75.25         0.135

In [53]:
def gm_model(df4, k,i):
  return (k[2]*(df4['velocity'][i]**k[0])/(df4['x_pos'][i]-df4['x_pos'][i-1])**l)*(df4['velocity'][i]-df4['velocity'][i-1])